* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 10px;
 
}
body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    color: #5b5766;
    font-size: 1.8rem;
    line-height: 1.5;
}
ul {
    list-style: none;

}
h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #554d89
}
.btn {
    border: none;
    text-decoration: none ;
    height: 40px;
    border-radius: 40px;
    padding: 0 1.5rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.btn-light {
    background-color:transparent ;
    border: solid 1px #6852ed;
    font-size: 1.4rem;
    color: #6852ed;
    
    
}
.btn-dark {
   background-color: #6852ed;
   color: #fff; 
    /* background-image:linear-gradient(to top, #6852ed); */
    padding: 1.3rem 3rem;
   }

.link {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color:#554d89;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
}
.link:hover {
    text-shadow: 0 0 1px #554d89;
}
.link-arrow::after {
    content: '\f30b';
    font-family: Fontawesome;
    margin-left: 1.5rem;
}
.divider {
    border: none;
    border-bottom: 1px solid whitesmoke;
}
.wrapper {
   width: 1140px;
   margin: 0 auto;
}
.top-header {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 0 1.7rem;
    font-size: 1.6rem;
}
.top-header_text {
    color: #716c80;
    

}
.top-header_phone {
    color: #716c80; 
    text-decoration: none;

}
.top-header_phone:hover {
    text-decoration: none;
}
.top-header_phone::before {
    content: "\f2a0";
    font-family: Fontawesome;
    margin-right: 0.8rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.header-navbar {
    display: flex;
    align-items: center;
}
.header_logo {
    display: block;
    margin-right: 5.8rem;
}
.header_menu {
    display: flex;
}
.header_menu-item {
margin-right: 3rem;
position: relative;
padding: 1.8rem 0;
}
.header_menu-item:last-child {
  margin-right: 0;  
}
.header_submenu {
    display: none;
    position: absolute;
    top: 5.4rem;
    left: -3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
    background-color: #e1e4ed;

}
.header_menu-item:hover .header_submenu {
    display: block;
}
.header_submenu > .header_menu-item {
    padding: 0;
    margin-bottom: 1rem;
}
.header_submenu > .header_menu-item:last-child {
    margin-bottom: 0;
}
.header_menu-link {
    color: #5b5766;
    font-size: 1.6rem;
    text-decoration: none;

}
.header_menu-link:hover{
    color: #554d89;
    text-shadow: 0 0 1px #554d89;  
}
.header_menu-link-active {
    color: #554d89;
    font-weight: 700;
}
.header-actions_text {
    display: inline-block;
    margin: 0 0 0.5rem;

}
.stage {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.stage_content {
    position: relative;
    top: -6rem;
}
.stage_title {
   font-size: 5rem;
   line-height: 1.2;
   margin-bottom: 3.2rem; 
}
.stage_text {
    font-size: 2.2rem;
    margin-bottom: 4rem;
}
.stage_actions .btn-dark {
    margin-right: 3rem;

}
.btn-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    bottom: -13rem;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    background-color: #6852ed;
    border-radius: 50%;
    display: flex;
    color: #fff;
    text-decoration: none;

}
.btn-bottom > i {
    margin: auto;
    font-size: 5rem;
}
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 20rem;
}
.infoblock {
    width: 360px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
    background-color: #ffffff;
    padding: 3rem;
    bottom: -17rem;
    color: #554d89;
}
.infoblock:hover {
    box-shadow:  0 0 20px 0 rgba(104, 82, 237, 0.8);
    background-color: #6852ed;
}
.infoblock .fas {
 color: #6852ed;   
 font-size: 3.2rem; 
 margin-bottom: 3rem;


}
.infoblock_title {
    font-size: 2.2rem;
    margin-bottom: 1.9rem;
}
.infoblock_text {
    color: #716c80;
}
.infoblock_link {
    display: none;
    color: #fff;
    margin-top: 3rem;
}
.infoblock:hover .fas {
    display:none ;
}
.infoblock:hover .infoblock_title {
    color: #fff;
}
.infoblock:hover .infoblock_text {
    color: #fff;
}
.infoblock:hover .infoblock_link {
    display: inline-block;
}
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}
.article_img, 
.article_content {
width: 50%;
flex-shrink: 0;
}
.article_content {
    padding-left:6rem;
}
.article_title {
    width: 412px;
    font-size: 2.8rem;
    line-height: 1.5;margin-bottom: 3rem;
}
.article_text {
    color: #716c80;
    margin-bottom: 5rem;
}
.article .btn {
    margin-right: 3rem;
}